html {
  background: white;
  font: 18px Arial;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input {
  font: 18px Arial;
}

td {
  border-top: 1px solid black;
  cursor: cell;
  padding: 5px;
}

th {
  cursor: pointer;
  padding: 5px;
}

table {
  border: 1px solid black;
  margin: 20px;
}

.toolbar {
  margin-left: 20px;
}

.toolbar a, .toolbar button { /* thanks css3buttongenerator.com! */
  background: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 28px;
  box-shadow: 0px 1px 3px #666666;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 0;
  margin-right: 5px;
}

.toolbar a:hover, .toolbar button:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
